<h1>Please, use proper branch of <a href="https://github.com/Loriowar/redmine_issues_tree">RedmineIssuesTree</a> plugin instead of <i>master</i>.</h1>
<h2>Look at <a href="https://github.com/Loriowar/redmine_issues_tree#compatibility">compatibility</a> and <a href="https://github.com/Loriowar/redmine_issues_tree#usage">usage</a> sections in <a href="https://github.com/Loriowar/redmine_issues_tree/blob/master/README.md">ReadMe</a> of the plugin.</h2>
